# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\YandexDisk\GeekBrains\Продвинутый JS\lesson1_11.02.21\lesson1_11.02.21\project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
